items 
1) sonar.
2) version control  bitbucket/gitlab /( feature comparision ).
3) maven.
4) sample maven webapplication.

1) SMTP notification
2) jenkins installation.
3) documentation website.
4) Ngios/ 
